<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>MenuSideNav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">Abrir</button>
    <div class="container mt-5 mb-2">
      <div class="row">
        <div class="col-3">
          <mat-card>
            <mat-card-title> Membros </mat-card-title>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card>
            <mat-card-title> Financeiro </mat-card-title>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card>
            <mat-card-title> Inventário </mat-card-title>
          </mat-card>
        </div>

        <div class="col-3">
          <mat-card>
            <mat-card-title> Estudos e Sermões </mat-card-title>
          </mat-card>
        </div>
      </div>
    </div>


      <div class="row m-5">
        <div class="col-4">
          <mat-card>
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    This is the expansion title
                  </mat-panel-title>
                  <mat-panel-description>
                    This is a summary of the content
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
              </mat-expansion-panel>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title> Self aware panel </mat-panel-title>
                  <mat-panel-description>
                    Currently I am {{ panelOpenState ? "open" : "closed" }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card>
        </div>

        <div class="col-4">
          <mat-card>
            <mat-selection-list #shoes>
              <mat-list-option *ngFor="let shoe of typesOfShoes">
                {{ shoe }}
              </mat-list-option>
            </mat-selection-list>

            <p>Options selected: {{ shoes.selectedOptions.selected.length }}</p>
          </mat-card>
        </div>

        <div class="col-4">
          <mat-card>
            <h1>card 3</h1>
          </mat-card>
        </div>
      </div>
  </div>
</mat-drawer-container>
