.mat-drawer {
  width: 300px;
  height: 100%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr:hover {
  background: whitesmoke;
}

tr:active {
  background: #efefef;
}
