<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <mat-card>
        <mat-card-title>
          Membros
        </mat-card-title>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-title>
          Financeiro
        </mat-card-title>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-title>
          Inventário
        </mat-card-title>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-title>
          Estudos e Sermões
        </mat-card-title>
      </mat-card>
    </div>


  </div>
</div>
